body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 500px;
}

h2 {
  margin-left: 100px;
}

p {
 margin-left: 600px; 
}

a:hover {
  background-color: yellow;
}

<style>
#myFavoriteText {
  background-color: purple;
  color: black;
  margin-left: 600px;
  text-align: center;
}
</style>


<style>
.green-text {
color: #008000;
}
</style>

<style>
.font-36{
font-size: 36px;
}
</style>

<style>
.blue-text {
color: #0000FF;
}
</style>

<style>
.font-72{
font-size: 72px;
}
</style>

