body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 500px;
  border:50px solid ##C75069;
  width:250px;
  height:200px;
  padding:50px;
}

h2 {
  margin-left: 100px;
}

A:hover {
  background-color: yellow;
}

<style>
#myFavoriteText {
  background-color: purple;
  color: black;
  margin-left: 600px;
  text-align: center;
}

.blue-text {
color: #0000FF;
}

.font-72{
font-size: 72px;
}

.green-text {
color: #008000;
}

.font-36{
font-size: 36px;
}

</style>



